@{
    ViewData["Title"] = "New product";
}

@model SnackBar.Infrastructure.Data.Entities.Product;

@{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Hello, world!</title>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="description" content="" />
        <link rel="icon" href="favicon.png">
    </head>
    <body style="white-space: pre-line">




        <p>Hello?</p>
        <form asp-action="CreateNewProduct" asp-controller="Admin" enctype="multipart/form-data">
            <input type="text" name="Name" required>
            <input type="number" min="0.01" step="0.01" name="Price" required>
            <input type="number" min="1" step="1" name="Count" required>
            <input type="file" name="imageFile" required>

            <button type="submit">New</button>
        </form>



    </body>
    </html>


}