body {
    background-color: #F0ECCF;
    padding-top: 60px;
}

*, ::before, ::after, p, h1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mian-body {
    background-color: #F0ECCF;
}

.main {
    background-color: #F0ECCF;
    height: 100%;
    width: 100%;
}


/* PopUp menu*/
/* Popup container */
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
    backdrop-filter: blur(5px);
}

/* Popup content */
.popup-content {
    background-color: #FFD57E;
    padding: 20px;
    border-radius: 5px;
    width: 800px;
    height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Button to open the popup */
.open-popup-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* PopUp menu*/
/* Popup container */
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
    backdrop-filter: blur(5px);
}

/* Popup content */
.popup-content {
    background-color: #FFD57E;
    padding: 20px;
    border-radius: 5px;
    width: 800px;
    height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 872px) {
    .popup-content {
        width: 80vw;
    }
}

#popup-content-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 23%;
    justify-content: space-between;
}

#popup-input-span {
    display: flex;
}

#logInButton {
    width: 60%;
}

.close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
}

#popup-input {
    width: auto;
}

#pop-up-heading {
    text-align: center;
    justify-self: end;
    margin-right: 10px;
    margin-bottom: 0;
    /* margin: 0; */
}

/* Blur the background when the popup is open */
.popup-container.active {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.admin-Key {
    position: absolute;
    top: 42.5%;
    left: 35%;
    cursor: default;
}

.text {
    scale: 120%;
    position: absolute;
    top: 43%;
    left: 48%;
    font-size: 24px;
}
/*grid-container*/
.main-body {
    height: 100vh;
    width: 100%;
    display: flex;
}

.grid-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #F0ECCF;
    padding: 20px;
    width: 50%;
    min-width: min-content;
    height: fit-content;
    /* margin: 0; */
    /* float: left; */
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    margin: 2% 0;
    width: 100%;
    height: 200px;
    padding: 0px;
    font-size: 30px;
    text-align: center;
    margin-top: 2%;
    background-color: #FFD57E;
    z-index: 1;
    border: none;
    position: relative;
    min-width: 580px;
}

.product-title{
    display: flex;
    margin-left: 45%;
    top: 0;
    bottom: 100%;
}

.product-img-div {
    display: flex;
    float: left;
    width: 200px;
    height: 200px;
    padding: 10px;
    position: absolute;
}

.product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Quantity Buttons*/
.quantity-btn {
    position: relative;
    height: 45px;
    width: 95px;
    background-color: white;
    border: none;
    border-radius: 5px;
    left: 85%;
    top: 6%;
}

    .quantity-btn span {
        border-right: 1px solid rgb(0,0,0,0.2);
        border-left: 1px solid rgb(0,0,0,0.2);
    }

.manage-btn {
    border: none;
    background-color: transparent;
    border-radius: 0%;
}

.save-btn {
    position: absolute;
    left: 700px;
    bottom: 17px
}

.plus {
    position: relative;
    right: 4px;
}

.minus {
    position: relative;
    left: 4px;
}

.price-quantity-table {
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

/*Cart options*/
.cart-options {
    /* display: flex; */
    justify-content: space-evenly;
    padding: 20px;
    width: 50%;
    /* margin-top: 20%; */
    /* float: right; */
}